.App {
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  background-color: wheat;
  color:teal;
  padding: 50px;
}


.App-textarea {
  width: 300px;
  height: 40px;
}

.mess {
  width: 300px;
  height: 40px;
  background-color: wheat;
  border: 2px double grey;
  border-radius: 2px;
  padding: 5px;
}